

.current-weather h2,
.current-weather p {
  font-family: "Bebas Neue";
}

.weather-app-form {
  width: 265px;
}

.weather-app-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  padding-top: 30px;
}

.weather-app-form input,
label {
  width: 75%;
  margin: 0 auto;
}

img.current-weather-element {
 width: 75px;
}



.weather-app-form input[type="text"] {
  font-family: "Montserrat";
  background-color: rgba(245, 245, 245, 0.75);
  border: 1px solid black;
}

input::placeholder {
  font-family: "Montserrat";
  font-size: 0.75em;
}

.weather-section {
  padding-right:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-for-weather-search {
  font-family: "Bebas Neue";
  width: 200px;
}

.location-search-button{
  margin-bottom: 20px;
  font-size: .8em;
  font-weight: 200;
  width: 30%;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 5px 5px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;

}


.location-search-button:hover {
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.location-search-button:hover::after{
  top: 0px;
  left: 0px;

}
