@media (min-width: 1100px) {
  

  .inspirational-image {
    width: 60%;
  }

  .inspirational-image img {
    width: 75%;
    height: 415px;
  }

  .weather-app-form {
    width: 400px;
  }


  .to-do-input {
    width: 85%;
  }

  .to-do-input-button-flex {
    gap: 30px;
  }

  .add-to-do-button {
    width: 25%;
  }
}
