@media (min-width: 850px) {
  .app-main {
    height: 100vh;
  }

  .image-and-weather {
    flex-direction: row-reverse;
  }

  .weather-app-form input {
    width: 75%;
  }

  .to-do-app {
    width: 100%;
  }

  .to-do-button-flex {
    justify-content: space-evenly;
  }

  .to-do-app-container {
    width: 75%;
  }

  .to-do-item-and-button {
    padding-left: 10px;
  }

  .inspirational-image {
    width: 60%;
  }

  .inspirational-image img {
    width: 70%;
    height: 360px;
  }
}
