h1 {
  background-image: url(https://media.giphy.com/media/dsnko3Whjk5V6xBvTK/giphy.gif);
  font-family: "Bebas Neue", sans-serif;
  font-size: 5em;
  background-position: center;
  background-size: contain;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.title {
  background-color: black;
  padding: 10px 0;
  margin: auto 0;
}

.title-p {
  font-family: "Bebas Neue";
  color: whitesmoke;
  letter-spacing: 0.25em;
}