.to-do-app {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  gap: 25px;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
}

.to-do-app::before {
  content: "";
  position: absolute;
  background-image: url("./assets/simon-berger-twukN12EN7c-unsplash.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  margin: -20px;
}

.to-do-input-button-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin: 0 auto;
  gap: 10px;
}

.to-do-label {
  color: black;
  display: block;
  font-family: "Bebas Neue";
  font-size: larger;
  letter-spacing: 0.25em;
  padding-bottom: 30px;
  width: 100%;
}

.to-do-input {
  background-color: rgba(245, 245, 245, 0.75);
  border: 1px solid black;
  padding-left: 10px;
}

.remove-toDo {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  width: 10%;
}

.remove-toDo:hover {
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
}

.to-do-item {
  list-style: none;
  display: flex;
  font-family: "Montserrat";
  color: black;
}

.to-do-item-and-button {
  padding-top: 20px;
  padding-left: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 20px;
  width: 350px;
}

.add-to-do-button {
  font-size: 16px;
  font-weight: 200;
  color: black;
  letter-spacing: 1px;
  padding: 10px 5px;
  background-color: transparent;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  width: 35%
}

.add-to-do-button:hover {
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

#newToDo {
  width: 75%;
}
