.to-do-app {
    padding: 15px;
    display: flex;
    gap: 25px;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    background-color:black;

}

.to-do-label {
    color: whitesmoke;
}

.add-toDo {
    width: 25%;
}

.to-do-item {
    list-style: none;
    display: flex;
    font-family: 'Montserrat';
    color: whitesmoke;
}