.to-do-app {
  margin-top: 25px;
  padding: 50px 0;
  display: flex;
  gap: 25px;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
  background-color: black;
  max-height: 300px;
}

.to-do-input-button-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin: 0 auto;
}

.to-do-label {
  color: whitesmoke;
  display: block;
  font-family: "Bebas Neue";
  letter-spacing: 0.25em;
  padding-bottom: 30px;
}

.remove-toDo { 
  color: whitesmoke;  
  background-color: black;  
  border: 1px solid whitesmoke;
  width: 10%;
}

.remove-toDo:hover {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black
}



.to-do-item {
  list-style: none;
  display: flex;
  font-family: "Montserrat";
  color: whitesmoke;
}

.to-do-item-and-button {
  padding-top: 20px;
  padding-left: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 20px;
  width: 350px;
}

.add-to-do-button{
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  background-color: black;
  outline: 0;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.add-to-do-button:hover {
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
